# Игнорируем временные файлы и папки
*.pyc
__pycache__

# Игнорируем файлы, связанные с системой контроля версий
.git
.gitignore

# Игнорируем файлы и папки, созданные средой разработки
.vscode
.idea

# Игнорируем файлы и папки, связанные с локальными настройками
*.sqlite3
*.log

# Игнорируем статические файлы, которые не нужны при сборке Docker
/staticfiles
/static

# Игнорируем файлы и папки, созданные Docker и Docker Compose
.dockerignore
.docker

# Игнорируем файлы, связанные с настройками среды выполнения и виртуальных окружений
.venv
.env
venv
